<div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{ message.text }}</strong>
  </div>
  <div class="row">
  <div class="col-md-8">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">{{'SITUATION-LIST' | translate}}</h3>
      <div class="pull-right">
        <a [routerLink]="['/manager-situation-new']"><i class="fa fa-plus"></i> {{'NEWa' | translate}} {{'SITUATION' | translate}}</a>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th>{{'NAME' | translate}}</th>
          <th>{{'ACTIVE' | translate}}</th>
          <th style="width: 10px">&nbsp;</th>
          <th style="width: 10px">&nbsp;</th>
        </tr>
        <tr *ngFor="let situation of listSituation">
          <td>{{situation.name}}</td>
          <td><span translate="{{situation.active}}"></span></td>
          <td><button class="btn btn-primary" (click)="edit(situation.id)" title="Edit"><i class="fa fa-edit"></i></button></td>
          <td><button class="btn btn-danger" (click)="delete(situation.id)" title="Delete"><i class="fa fa-eraser"></i></button></td>
        </tr>
      </table>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
        <li *ngFor="let p of pages; let i=index">
            <a [ngClass]="{'pagination-focus':i==page}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
        </li>
        <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
      </ul>
    </div>
  </div>
  </div>
  </div>